{% extends 'base.html.twig' %}

{% block body %}
<h2>Modifier un Auteur</h2>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Update</button>
{{ form_end(form) }}
{% endblock %}
