        
        
        <h1>Détails du livre</h1>

<p>Title: {{ book.title }}</p>
<p>Publication date: {{ book.publicationDate ? book.publicationDate|date('Y-m-d') : '' }}</p>
<p>Category: {{ book.category }}</p>
<p>Author: {{ book.author.username }}</p>
